body {
    background-color: #070979;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.floating, .bootbody {
    margin-top: 5%;
}

a, 
a:hover,
a:active,
a:visited,
a:focus{
    color: white;
}

h1 {
    text-align: center;
    font-size: 3em;
}

p {
    width: 70%;
    margin: 0 auto;
    line-height: 1.3;
    text-align: justify;
}

img{
    width: 30%;
}

.first-img {
    float: right;
    margin: 2%;
}

.second-img {
    float: left;
    margin: 2%;
    margin-left: 0;
}


/* BOOTSTRAP */

.navbar-brand {
    text-transform: uppercase;
}

.jumbotron {
    margin: 0 3%;
    background-color: #470ab8;
    color: white;
    text-align: center;
}

.jumbotron p {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}


button a, 
button a:hover,
button a:active,
button a:visited,
button a:focus{
    color: white;
    text-decoration: none;
}

.breadcrumb {
    background-color: transparent;
}