body {
    background-color: #ddbb7a;
    color: #f3f3f3;
    
}

h1 {
    text-align: center;
    font-size: 3em;
}

p {
    width: 70%;
    margin: 2% auto;
}

img{
    width: 30%;
}

.first-img {
    float: right;
    margin: 3%;
}

.second-img {
    float: left;
    margin: 3%;
    margin-left: 0;
}

