body {
    background-color: #070979;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#floating, #bootbody {
    margin-top: 5%;
}

.btn {
    width: 20%;
}

@media screen and (max-width:1024px) {
    #floating, #bootbody {
        margin-top: 8%;
    }    
    .btn {
        width: 30%;
    }
}
@media screen and (max-width:720px) {
    #floating, #bootbody {
        margin-top: 12%;
    }    
    .btn {
        width: 50%;
    }
}

a, 
a:hover,
a:active,
a:visited,
a:focus{
    color: white;
}

h1 {
    font-size: 3em;
    text-align: center;
}

#floating h1 {
    margin-bottom: 3%; 
}

h2 {
    text-align: center;
    margin-bottom: 3%;
}


p {
    line-height: 1.35;
    text-align: justify;
}

#floating img{
    width: 30%;
}

#floating .breadcrumb {
    float: right;
}

.first-img {
    float: right;
    margin: 2%;
}

.second-img {
    float: left;
    margin: 2%;
    margin-left: 0;
}


/* BOOTSTRAP */

.navbar-brand {
    text-transform: uppercase;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 1%;
}
.container-fluid .jumbotron {
    margin: 0 3% 2%;
    background-color: #470ab8;
    color: white;
    text-align: center;
}

.jumbotron p {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

button a, 
button a:hover,
button a:active,
button a:visited,
button a:focus{
    color: white;
    text-decoration: none;
}




.thumbnail {
    width: 100%;
    margin: 0 auto 3%;
    background-color: white;
    filter: grayscale(100)
}

.thumbnail:hover {
    filter: grayscale(0);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
